# Android
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex

# Kotlin
*.class
*.jar
*.war
*.nar
*.ear

# Generated
/app/build/
/app/release/
output.json

# Secrets
*.keystore
*.jks
google-services.json
secrets.properties

# OS
Thumbs.db
.DS_Store
